p.ext-oda-highlight {
    color: #000000 !important;
    font-weight: 600 !important;

    border-radius: 500px;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

p.ext-oda-highlight > strong {
    font-size: 1.2rem;
    color: white;
}